<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Nimbus CSS Grammar.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>Nimbus.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>27</integer>
		</dict>
		<key>NimbusAttributedLabel.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>NimbusAttributedLabelTests.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>NimbusBadge.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>NimbusCollections.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>NimbusCore.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>NimbusCss.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>NimbusCssTests.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>NimbusInterapp.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>NimbusInterappTests.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>10</integer>
		</dict>
		<key>NimbusLauncher.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>11</integer>
		</dict>
		<key>NimbusLauncherTests.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>12</integer>
		</dict>
		<key>NimbusModels.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>22</integer>
		</dict>
		<key>NimbusModelsTests.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>23</integer>
		</dict>
		<key>NimbusNetworkControllers.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>13</integer>
		</dict>
		<key>NimbusNetworkImage.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>14</integer>
		</dict>
		<key>NimbusNetworkImageTests.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>15</integer>
		</dict>
		<key>NimbusOverview.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>16</integer>
		</dict>
		<key>NimbusOverviewTests.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>17</integer>
		</dict>
		<key>NimbusPagingScrollView.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>18</integer>
		</dict>
		<key>NimbusPagingScrollViewTests.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>19</integer>
		</dict>
		<key>NimbusPhotos.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>20</integer>
		</dict>
		<key>NimbusPhotosTests.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>21</integer>
		</dict>
		<key>NimbusTextField.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>24</integer>
		</dict>
		<key>NimbusWebController.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>25</integer>
		</dict>
		<key>NimbusWebControllerTests.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>26</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>663B523E1445052700CC26DF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>663B524B1445052800CC26DF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6661BBCB13F1A3BB00D14F92</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6661BBD813F1A3BB00D14F92</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6675722813E765BF0076F555</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6675723513E765BF0076F555</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6675727913E769150076F555</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6675728613E769150076F555</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6675731113E771380076F555</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6675731E13E771380076F555</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>66832C9D143D649D003E413C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>66A03C0813E6E85E00B514F3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>66A03C1813E6E85E00B514F3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>66A03CBE13E6F0ED00B514F3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>66A03CCB13E6F0EE00B514F3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>66A03CF713E6F15300B514F3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>66A03D2613E6F97500B514F3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>66A03D3313E6F97500B514F3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>66A0B09814BD1069003FA413</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>66A0B0A514BD1069003FA413</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>66C3A6A0143D61130048542F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>66C3A6AD143D61140048542F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>66E1CDDE159161ED004DA4A2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>66E1CDEC159161EE004DA4A2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>66FC98491703F9D7004E8FB8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C7BBC6BB16DDC0E700833DC9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DB3A230813FD4B8E00614220</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DB3A231513FD4B8E00614220</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DB84BD7313EFDDC900DACCFE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DB84BD8013EFDDCA00DACCFE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
